/********************reset begin******************/
html {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
	user-select: none;
	-webkit-user-select:none;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-webkit-tap-highlight-color:transparent;
	-webkit-touch-callout:none;
	box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

input[type],
[contenteditable] {
	user-select: text;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

em,
i {
    font-style: normal;
}

a:focus {
    outline: 0;
}

input,
fieldset {
    appearance: none;
    border: 0;
    padding: 0;
    margin: 0;
    /*inputs and fieldset defaults to having a min-width equal to its content in Chrome and Firefox (https://code.google.com/p/chromium/issues/detail?id=560762), we may not want that*/
    min-width: 0;
    /*Reset the font size and family*/
    font-size: 1rem;
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

input:focus {
    outline: 0;
}

input[type="number"] {
    /*Mozilla shows the spinner UI on number inputs unless we use this:*/
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

svg {
    display: inline-flex;
}

img {
    /*Make images behave responsively. Here they will scale up to 100% of their natural size*/
    max-width: 100%;
    /*Make images display as a block (UA default is usually inline)*/
    display: block;
}

/********************reset end******************/


/*******************icon font begin********************/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-angle-down:before {
  content: "\f107";
}

/*******************icon font end********************/


/********************style begin*******************/

html,
body {
    height: 100%; 
}

body {
    display: flex; 
    flex-direction: column; 
    margin: 0;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif,Heiti SC,sans-self;
	font-size: 32px;
	font-weight: 400;
	color: rgba(126,126,126,1);
}

main {
	display: flex; 
    flex-direction: column; 
	flex: 1 0 auto;
	background-color: rgba(246,246,246,1);
}

.navigation-bar {
	display: flex; 
	flex-direction: row; 
	flex: 0 0 88px;
	justify-content: space-between;
	padding: 0 30px;
	border-bottom: 1px solid rgba(190, 190, 190, .95);
	background-color: rgba(48, 149, 211, .95);
}

.item-3 {
	width: 30%;
}

.logo-img-div {
	background: url(../images/logo.svg) no-repeat center center;
}

.menu-img-div {
	background: url(../images/moreIcon.svg) no-repeat right center;
}

.content {
	flex: 1 0 auto;
}

.log {
	margin-bottom: 15px;
	padding: 0 30px;
	background-color: rgba(255,255,255,1);
}

.log .log-head {
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
	padding-top: 10px;
}
.log .log-more {
	font-size: 36px;
	color: rgba(78,128,168,1);
}

.log .log-date {
	display: flex; 
	flex-direction: column; 
	justify-content: center;
	font-size: 22px;
	color: rgba(195,195,195,1);
}

.log .log-label {
	display: flex; 
	flex-direction: row; 
	padding: 15px 0 25px;
}

.log .log-label div {
	padding-left: 15px;
}

.log .log-label div:first-child {
	padding-left: 0;
}

.label {
	padding: 8px 10px 8px 15px;
	height: 50px;
	border: 2px solid rgba(42,126,177,.8);
	border-radius: 10px;
	box-shadow: inset 1px 1px 2px rgba(112,182,226,.3), 0 1px 0 rgba(57,127,170,.3);
    outline: 0;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	text-align:center;
	font-size: 32px;
	font-weight: 400;
	letter-spacing: 5px;
}

.label-live {
	cursor: pointer;
}

.label-colorful {
	border: 1px solid rgba(212,213,213,.3);
	border-radius: 8px;
	box-shadow: inset 1px 1px 2px rgba(186,188,190,.3), 0 1px 0 rgba(164,165,165,.3);
	color: rgba(255,255,255,1);
}

.log-content {
	padding-bottom: 20px;
}

.log-content p {
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 3px;
}

.log-img {
	width: 100%;
	height: 208px;
	padding-bottom: 28px;
	background: url(../images/logImage.png) no-repeat;
	overflow: hidden;
}

footer {
	position: relative;
	flex: 0 0 98px;
	border-top: 1px solid rgba(190, 190, 190, .95);
	background-color: rgba(247, 247, 247, .95);
}

footer > img {
	position: absolute;
	top: -20px;
	left: calc(50% - 59px);
	z-index: 10;
}

footer .tabs {
	display: flex; 
	flex-direction: row; 
	justify-content: space-around;
	height: 100%;
}

.item-15 {
	width: 15%;
}

.home-tab {
	background: url(../images/homeIcon.svg) no-repeat center center;
}
.add-tab {
	background: url(../images/addIconplus.svg) no-repeat center center;
}
.more-tab {
	background: url(../images/searchIcon.svg) no-repeat center center;
}

/********************style end*******************/
